.HeroWrap {
  position: relative;
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;
}

.Logo {
  position: absolute;
  width: 390px;
  height: 64px;
  left: 40px;
  top: 19px;
}

.Hero {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  z-index: -1;
}