.Checkout {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 40rem;
  height: 40rem;
  background: #FFF;
  border-radius: 10px;
  border: solid 3px #000;
  display: flex;
  flex-direction: column;
}

.Checkout .CheckoutNav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
}

.Checkout>p{
  padding: 0.25rem;
}

.items-container {
  flex-grow: 1;
  overflow-y: auto;
  align-self: flex-start;
  padding: 0 0 1rem 1rem;
}

.buttons-container {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.buttons-container button {
  margin: 0 5px;
}