.Product {
  width: 25vw;
  height: 60vh;
  border: 3px solid #E8A518;
  background: #CCC;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
}

.Product img {
  width: 10vw;
  height: 10vw;
}

.Product h2 {
  text-align: center;
}

.Product .Price {
  font-weight: bold;
}

.Product button {
  background: #E8A518;
}